# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Maven
log/
workspace/target/
sarl/IA54_Ant/target/
sarl/IA54_Ant/src/main/generated-sources/
